<div>
    <div class="row">
 <div class="col-lg-2  d-flex flex-column p-5" style="height: 720px; background-color:  #001f3f;">
     <a routerLink="/dashboard" class="mb-3" style="text-decoration: none; color: white; font-size: 22px;"><i class="fa-solid fa-house me-2"></i>Home</a>
     <a  routerLink="/employees" style="text-decoration: none; color: blue;font-size: 22px;"><i class="fa-solid fa-user me-2"></i>Users</a>
 </div>
<div class="col-lg-10" style="    background: linear-gradient(135deg, #370AE6, #DDF79D);
">

 <h2 class="text-center mt-5"><i class="fa-solid fa-user-plus me-2"></i>Edit Employee</h2>

<div class="row mt-5">
     <div class="col-lg-3"></div>
     <div class="col-lg-6 border shadow p-5 ">
         <Form>
            <div class="mb-3">
                <label for="userId" class="form-label">User Id</label>
                <input type="text" class="form-control" id="userId" name="empid" [(ngModel)]="employee.id" required pattern="[0-9]*" #employeeid="ngModel" >
                <span *ngIf="employeeid.invalid && employeeid.touched" class="text-danger">Invalid Id</span>
              </div>
    
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="empname" [(ngModel)]="employee.name" required pattern="^[a-zA-Z]{3,}$" #employeename="ngModel">
                <span *ngIf="employeename.invalid && employeename.touched" class="text-danger">Invalid UserName</span>

              </div>
    
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="empemail" [(ngModel)]="employee.email" required email #employeeemail="ngModel">
                <span *ngIf="employeeemail.invalid && employeeemail.touched" class="text-danger">Invalid Email</span>

              </div>
    
              <div class="mb-3">
                <label for="sts" class="form-label">Status</label>
                <select class="form-select" id="sts" name="empstatus" [(ngModel)]="employee.status" required  #employeestatus="ngModel">

                  <option selected></option>
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                  
                </select>
                <span *ngIf="employeestatus.invalid && employeestatus.touched" class="text-danger">Invalid Status</span>

              </div>
    
              <div class="d-flex justify-content-center">
                <button type="button"  class="btn btn-danger me-3" (click)="cancel(employee.id)">Cancel</button>
                <button type="button" class="btn btn-success" (click)="updateemployee(employee.id)">Update</button>
              </div>

         </Form>
     </div>
     <div class="col-lg-3"></div>
</div>

</div>

</div>
</div>